<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="URL Shortening Service by Golang">
    <meta name="author" content="Andy Xie">
    <link rel="icon" href="favicon.ico">

    <title>ShortMe</title>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <!--短链Js调用接口-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.qrcode.min.js"></script>
    <script src="/static/js/shortme.js"></script>
</head>
<body>

<h3 class="ui center aligned header"><div class="ui fluid large teal button">短链服务</div></h3>
<div class="ui container">
    <div class="ui segments">
        <div class="ui fluid segment labeled input ">
            <input type="text" id="longURL" placeholder="mysite.com">
            <button class="ui primary button" onclick="Short('longURL')">Short</button>
        </div>
        <div class="ui segment" id="short"></div>
        <div class="ui segment" id="shortURLBlankLine"></div>
        <div class="ui horizontal divider">Or </div>
        <div class="ui fluid segment labeled input ">
            <input type="text" id="url" placeholder="mysite.com">
            <button class="ui primary button" onclick="Expand('url')">UnShort</button>
        </div>
        <div class="ui segment" id="unshort"></div>
        <div class="ui segment" id="expandedURLBlankLine"></div>
    </div>
</div>

</body>
</html>